

  .layout {
    width: 100%;
  }
  
 

  .bg-white {
    background-color: #f7f7f7 !important;
  }
  
  ::ng-deep .title {
    margin-bottom: 0px;
    font-size: 28px;
    margin-top: 20px;
    color: white;
    font-weight: 400;
  }
  
  .count {
    margin-bottom: 0px;
    font-size: 15px;
    color: white;
  }
  
  .layout {
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 4%;
  }
  
  ::ng-deep .one {
    background: #119bd2;
    background: -moz-linear-gradient(-45deg, #3bd1bf 0%, #119bd2 100%);
    background: -webkit-linear-gradient(-45deg, #3bd1bf 0%, #119bd2 100%);
    background: linear-gradient(135deg, #3bd1bf 0%, #119bd2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bd1bf', endColorstr='#119bd2', GradientType=1);
    padding-top: 5%;
    padding-bottom: 5%;
    height: 22vh;
  }
  
  ::ng-deep .two {
    background: #ff875e;
    background: -moz-linear-gradient(-45deg, #ff875e 1%, #fc629d 100%);
    background: -webkit-linear-gradient(-45deg, #ff875e 1%, #fc629d 100%);
    background: linear-gradient(135deg, #ff875e 1%, #fc629d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff875e', endColorstr='#fc629d', GradientType=1);
    padding-top: 5%;
    padding-bottom: 5%;
    height: 22vh;
  }
  
  ::ng-deep .three {
    background: #8363f9;
    background: -moz-linear-gradient(-45deg, #ee70e9 0%, #8363f9 100%);
    background: -webkit-linear-gradient(-45deg, #ee70e9 0%, #8363f9 100%);
    background: linear-gradient(135deg, #ee70e9 0%, #8363f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee70e9', endColorstr='#8363f9', GradientType=1);
    padding-top: 5%;
    padding-bottom: 5%;
    height: 22vh;
  }
  
  /* mat-card {
      margin-bottom: 10px;
    }
    
    .mr-10 {
      margin-right: 10px;
    }
    
    .ml-10 {
      margin-left: 10px;
    } */
  .mat-card>:last-child:not(.mat-card-footer),
  .mat-card-content>:last-child:not(.mat-card-footer) {
    margin-bottom: 75px;
  }
  