
        <div class="layout">
            <div class="container">
                <div class="row dash_sty">
                    
                    <mat-card class="bg-grey mb-0" style="margin-bottom: 0px !important;">
                        <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="10px"
                            style="margin-bottom: -20px !important;">
                            <div fxFlex.sm="50%" fxFlex.md="25%" fxFlex.gt-md="25%" class="search">
                                <mat-form-field appearance="outline" class="w-90">
                                    <!-- <mat-label>Company</mat-label> -->
                                    <mat-select placeholder="Company" [(ngModel)]="searchfilter.txtCompany">
                                        <mat-option value="All">--All--</mat-option>
                    <mat-option *ngFor="let companies of company" value={{companies.txtCompany}}>{{companies.txtDescription}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex.sm="50%" fxFlex.md="25%" fxFlex.gt-md="25%" class="search">
                                <mat-form-field appearance="outline" class="w-90">
                                    <!-- <mat-label>Location</mat-label> -->
                                    <mat-select placeholder="Location"[(ngModel)]="searchfilter.txtCurrentLocationApplied">
                                        <mat-option value="All">--All--</mat-option>
                                            <mat-option *ngFor="let locations of location" value={{locations.txtCity}}>{{locations.txtCity}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex.sm="10%" fxFlex.md="20%" fxFlex.gt-md="15%" class="search">
                                &nbsp;&nbsp;&nbsp;&nbsp;<button mat-flat-button
                                    class="bg-black custom-btn"(click)="search()">Search</button>
                            </div>

                            <div fxFlex.sm="20%" fxFlex.md="20%" fxFlex.gt-md="15%" class="search">
                                <button mat-stroked-button class="custom-btn" (click)="handleClear()">RESET</button>
                            </div>

                            

                            <div fxFlex.sm="50%" fxFlex.md="25%" fxFlex.gt-md="25%" class="search">
                                <h3 *ngIf="advanceVisible" class="ml-10 cd_lst"><u class="advance_search"
                                        (click)="advance_click()">+
                                        Advance Search</u></h3>
                                <h3 *ngIf="isVisible" class="ml-10 cd_lst"><u (click)="close_advance_click()">- Close
                                        Advance Search</u>
                                </h3>
                            </div>

                        </div>


                        <div *ngIf="isVisible" fxLayout.xs="column" fxLayout="row" fxLayoutAlign="start center"
                            fxLayoutGap="10px" style="margin-bottom: 0px !important;">
                            <div fxFlex.sm="50%" fxFlex.md="25%" fxFlex.gt-md="25%" class="search custom-field-height">
                                <mat-form-field appearance="outline" class="w-90">
                                    <!-- <mat-label>Location</mat-label> -->
                                    <mat-select placeholder="Request Type"[(ngModel)]="searchfilter.txtReasonForApply">
                                        <mat-option value="0">--All--</mat-option>
                                        <mat-option value="New">New</mat-option>
                                        <mat-option value="Damage">Damage</mat-option>
                                        <mat-option value="Lost">Lost</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex class="search">
                                <mat-form-field appearance="outline" style="color:black" class="w-90">
                                    <input matInput placeholder="Employee Id" [(ngModel)]="searchfilter.txtEmpNo"/>
                                </mat-form-field>
                            </div>

                            <div fxFlex class="search custom-field-height">
                                <mat-form-field appearance="outline" class="w-90">
                                    <!-- <mat-label>Location</mat-label> -->
                                    <input matInput placeholder="Card Number" [(ngModel)]="searchfilter.txtCardNo" />
                                    <!-- <mat-select placeholder="Card Number" [(ngModel)]="searchfilter.txtEmpNo"> -->
                                        <!-- <mat-option value="option">card number 1</mat-option>
                                        <mat-option value="option">card number 2</mat-option>
                                        <mat-option value="option">card number 3</mat-option>
                                        <mat-option value="option">card number 4</mat-option> -->
                                    <!-- </mat-select> -->
                                </mat-form-field>
                            </div>
                            <!-- .sm="50%" fxFlex.md="25%" fxFlex.gt-md="25%"  -->
                            <div fxFlex class="search custom-field-height">
                                <mat-form-field appearance="outline" class="w-90">
                                    <!-- <mat-label>Location</mat-label> -->
                                    <mat-select placeholder="Dispatch To" [(ngModel)]="searchfilter.flgPreferredAddress" >
                                        <mat-option value="0">--All--</mat-option>
                                        <mat-option value="Residence">Residence</mat-option>
                                        <mat-option value="Office">Office</mat-option>
                                        
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex class="search">

                            </div>



                        </div>




                        <!-- <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="10px"
                            style="margin-bottom: 0px !important;">
                            <div fxFlex.sm="50%" fxFlex.md="20%" fxFlex.gt-md="15%" class="search">
                                &nbsp;&nbsp;&nbsp;&nbsp;<button mat-flat-button
                                    class="bg-black custom-btn"(click)="search()">Search</button>
                            </div>

                            <div fxFlex.sm="50%" fxFlex.md="20%" fxFlex.gt-md="15%" class="search">
                                <button mat-stroked-button class="custom-btn" (click)="handleClear()">RESET</button>
                            </div>
                        </div> -->


                    </mat-card>

                    <br /><br />

                    <mat-card>


                        <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1px"
                            style="margin-bottom: 0px !important;">
                            <div fxFlex.sm="40%" fxFlex.md="50%" fxFlex.gt-md="30%" class="search">
                                <h1 style="color: grey;"> Card List</h1>
                            </div>

                            <div fxFlex.sm="60%" fxFlex.md="50%" fxFlex.gt-md="70%" class="search">

                                <button mat-flat-button class="bg-black mr-2 custom-btn">Print Addresses</button>
                           
                                <button mat-flat-button class="bg-black mr-2 custom-btn">Reprint</button>
                           
                                <button mat-flat-button class="bg-black mr-2 custom-btn">Recieved</button>
                           
                                <button mat-flat-button class="bg-black mr-2 custom-btn" (click)="openDialog()">Dispatch</button>
                       
                                <button mat-raised-button  (click)="addNewFilter()">  <mat-icon>tune</mat-icon></button>
                         

                              
                            </div>



                        </div>


                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="empNo">
                                <th class="cd_lst" mat-header-cell *matHeaderCellDef>Emp No.</th>
                                <td class="cd_table" mat-cell *matCellDef="let element">{{ element.txtEmpNo }}</td>
                            </ng-container>

                            <ng-container matColumnDef="company">
                                <th class="cd_lst" mat-header-cell *matHeaderCellDef>Company</th>
                                <td class="cd_table" mat-cell *matCellDef="let element">{{ element.txtCompany }}</td>
                            </ng-container>

                            <ng-container matColumnDef="cardNo">
                                <th class="cd_lst" mat-header-cell *matHeaderCellDef>Card No</th>
                                <td class="cd_table" mat-cell *matCellDef="let element">{{ element.txtCardNo }}</td>
                            </ng-container>

                            <ng-container matColumnDef="dispatchTo">
                                <th class="cd_lst" mat-header-cell *matHeaderCellDef>Dispatch To</th>
                                <td mat-cell *matCellDef="let element">{{ element.flgPreferredAddress }}</td>
                            </ng-container>

                            <ng-container matColumnDef="requestTypes">
                                <th class="cd_lst" mat-header-cell *matHeaderCellDef>Request Type</th>
                                <td mat-cell *matCellDef="let element">{{ element.txtReasonForApply }}</td>
                            </ng-container>
                            

                            <ng-container class="cd_lst" matColumnDef="location">
                                <th class="cd_lst" mat-header-cell *matHeaderCellDef>Location</th>
                                <td class="cd_table" mat-cell *matCellDef="let element">{{ element.txtCurrentLocationApplied }}</td>
                            </ng-container>

                            <ng-container class="cd_lst" matColumnDef="status">
                                <th class="cd_lst" mat-header-cell *matHeaderCellDef>Status</th>
                                <td class="cd_table" mat-cell *matCellDef="let element"><button class="bg-green">
                                    {{ element.txtReqStatus }}</button></td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th class="cd_lst" mat-header-cell *matHeaderCellDef>Action</th>
                                <td mat-cell *matCellDef="let element">
                                    <img src="../../../assets/secore/1a.png" matTooltip="Rejected" />
                                    <img src="../../../assets/secore/2a.png" matTooltip="Approved" />
                                   
                                    <img src="../../../assets/secore/3.png" matTooltip="View Status" />
                                </td>
                            </ng-container>

                            <ng-container class="cd_lst" matColumnDef="certificateStatus">
                                <th class="cd_lst" mat-header-cell *matHeaderCellDef>Certificate Status</th>
                                <td class="cd_table" mat-cell *matCellDef="let element">{{ element.certificateStatus }}</td>
                            </ng-container>

                           

                            <ng-container matColumnDef="header-row-first-group">
                                <th mat-header-cell *matHeaderCellDef [attr.colspan]="1" class="custom-field">
                                    <mat-icon style="color:red">cancel_presentation</mat-icon>
                                </th>
                            </ng-container>

                            <ng-container matColumnDef="header-row-second-group">
                                <th mat-header-cell *matHeaderCellDef [attr.colspan]="1" class="custom-field">
                                    <mat-form-field appearance="outline" class="small-input">
                                        <input matInput placeholder="EMP NO.">
                                    </mat-form-field>
                                </th>
                            </ng-container>
                            <ng-container matColumnDef="header-row-third-group">
                                <th mat-header-cell *matHeaderCellDef [attr.colspan]="1" class="custom-field">
                                    <mat-form-field appearance="outline">
                                        <input matInput placeholder="Company">
                                    </mat-form-field>
                                </th>
                            </ng-container>

                            <ng-container matColumnDef="header-row-fourth-group">
                                <th mat-header-cell *matHeaderCellDef [attr.colspan]="1" class="custom-field">
                                    <mat-form-field appearance="outline">
                                        <input matInput placeholder="Request Type">
                                    </mat-form-field>
                                </th>
                            </ng-container>
                            <ng-container matColumnDef="header-row-fifth-group">
                                <th mat-header-cell *matHeaderCellDef [attr.colspan]="1" class="custom-field">
                                    <mat-form-field appearance="outline">
                                        <input matInput placeholder="Location">
                                    </mat-form-field>
                                </th>
                            </ng-container>
                            <ng-container matColumnDef="header-row-sixth-group">
                                <th mat-header-cell *matHeaderCellDef [attr.colspan]="1" class="custom-field">
                                    <mat-form-field appearance="outline">
                                        <input matInput placeholder="Status">
                                    </mat-form-field>
                                </th>
                            </ng-container>
                            <ng-container matColumnDef="header-row-sevent-group" class="custom-field">
                                <th mat-header-cell *matHeaderCellDef [attr.colspan]="2">
                                </th>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #e8ecef;">
                            </tr>
                            <tr mat-header-row *matHeaderRowDef="addNewColumns" style="background-color:white"
                                [ngClass]="{'h0': !filter}"></tr>


                            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)">
                            </tr>
                            
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page)="getNext($event)"></mat-paginator>
                    </mat-card>
                </div>
            </div>
        </div>

