<mat-toolbar color="primary">
  <span>Card Issue</span>
  <span class="fill-spacer"></span>

  <button mat-icon-button class="example-icon" (click)="onNoClick()" aria-label="Example icon-button with share icon">
    <mat-icon color="warn">cancel</mat-icon>
  </button>
</mat-toolbar>

<div class="body">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div fxFlex.xs="70%" fxFlex.md="70%" fxFlex.gt-md="70%">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex class="search">
          <h2>Employee Number </h2>
        </div>
        <div fxFlex class="search">

          <h2> :1234 </h2>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <div fxFlex class="search">
          <h2>Card Number </h2>
        </div>
        <div fxFlex class="search">
          <mat-form-field appearance="outline" style="color:black" class="w-90">
            <input matInput placeholder="Enter Here" />
          </mat-form-field>
          <!-- <mat-icon>right</mat-icon> -->
        </div>
      </div>
    </div>
    <div fxFlex.xs="30%" fxFlex.md="30%" fxFlex.gt-md="30%">
      <img  class="profile-img" src="../../../assets/img/profile.jfif">
    </div>

  </div>

  <!-- <button mat-flat-button class="bg-black custom-btn">Validate</button> -->

  <div class="center mt-4">
    <div class="search">
      <button mat-flat-button class="bg-black custom-btn">Issue</button>
    </div>
    <div class="search ml-4">
      <button mat-stroked-button color="warn" (click)="onNoClick()" class="br-red custom-btn">Cancel</button>
    </div>
  </div>
</div>
