/* .example-container {
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .example-sidenav {
     user-select: none;
  }
  .full-width {
    width: 100%;
  }
  .menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
  }
  .menu-button.rotated {
    transform: rotate(180deg);
  }
  .submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;
  }
  .submenu.expanded {
    transform: scaleY(1);
  }

  .example-app-name{
   font-weight: bold;   
  } */

.layout {
  width: 100%;
}

.layout-sidebar {
  height: calc(100vh);
  /* margin-top: 64px; */
  /* 
    @media (max-width: $small) {
      width: 218px;
    } */
}

.layout-content {
  background-color: red;
  height: calc(100vh);
  /* margin-top: 64px; */

  /* @media (max-width: $small) {
      width: 100%;
    } */
}

.mat-sidenav {
  min-width: 14%;
  width: auto;
  background: url("../../../assets/img/leftbg.png");
}

.mat-sidenav-container {
  background-color: white !important;
  height: 100vh;
}



.mat-nav-list {
  width: 100%;
  height: 100%;

  background-size: cover;
  text-align: center;
}

.mat-sidenav-container .mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.sidenav-toolbar {
  height: 64px;
  background-color: red;
  display: flex;
  flex-direction: row;

  /* @media (max-width: 600px) {
      height: 56px;
    } */
}

.mat-nav-list {
  padding: 0;
  width: 100%;
  height: 100%;
  /* background: url("../../../assets/img/leftbg.png") no-repeat; */
  background-size: cover;
  text-align: center;
}

/* @include breakpoint-max(600px) {
    .fixed-topnav {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100% !important;
    } */

.mat-drawer-container,
.mat-drawer {
  padding-top: 0px;
}

.menu-list-item.mat-list-item .mat-list-item-content {
  flex: 1 1 100%;
}

.version-info {
  font-size: 8pt;
  padding: 8px;
  align-self: flex-end;
}

::ng-deep .mat-drawer-container[_ngcontent-wuo-c80],
.mat-drawer[_ngcontent-wuo-c80] {
  padding-top: 0px !important;
}

.menu-spacer {
  flex: 1 1 auto;
}

a {
  padding-top: 0 !important;
}

.text-color-white a {
  color: #ffffff;
}

mat-form-field {
  font-size: 15px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
}

.mat-input-element::placeholder {
  color: white;
}

.mt-10 {
  margin-top: 10px;
}

.mat-toolbar {
  background: #f7f7f7 !important;
  color: rgba(0, 0, 0, 0.87);
}

.bg-white {
  background-color: #f7f7f7 !important;
}

::ng-deep .title {
  margin-bottom: 0px;
  font-size: 28px;
  margin-top: 20px;
  color: white;
  font-weight: 400;
}

.count {
  margin-bottom: 0px;
  font-size: 15px;
  color: white;
}

.layout {
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  /* padding-bottom: 0%; */
  padding-top: 4%;
  /* padding-left: 2%; */
  /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 2px 8px; */
}

::ng-deep .one {
  background: #119bd2;
  background: -moz-linear-gradient(-45deg, #3bd1bf 0%, #119bd2 100%);
  background: -webkit-linear-gradient(-45deg, #3bd1bf 0%, #119bd2 100%);
  background: linear-gradient(135deg, #3bd1bf 0%, #119bd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3bd1bf', endColorstr='#119bd2', GradientType=1);
  padding-top: 5%;
  padding-bottom: 5%;
}

::ng-deep .two {
  background: #ff875e;
  background: -moz-linear-gradient(-45deg, #ff875e 1%, #fc629d 100%);
  background: -webkit-linear-gradient(-45deg, #ff875e 1%, #fc629d 100%);
  background: linear-gradient(135deg, #ff875e 1%, #fc629d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff875e', endColorstr='#fc629d', GradientType=1);
  padding-top: 5%;
  padding-bottom: 5%;
}

::ng-deep .three {
  background: #8363f9;
  background: -moz-linear-gradient(-45deg, #ee70e9 0%, #8363f9 100%);
  background: -webkit-linear-gradient(-45deg, #ee70e9 0%, #8363f9 100%);
  background: linear-gradient(135deg, #ee70e9 0%, #8363f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee70e9', endColorstr='#8363f9', GradientType=1);
  padding-top: 5%;
  padding-bottom: 5%;
}

/* mat-card {
    margin-bottom: 10px;
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .ml-10 {
    margin-left: 10px;
  } */
.mat-card>:last-child:not(.mat-card-footer),
.mat-card-content>:last-child:not(.mat-card-footer) {
  margin-bottom: 75px;
}

::ng-deep .mat-drawer-container[_ngcontent-wuo-c80], .mat-drawer[_ngcontent-wuo-c80] {
  padding-top: 0px !important;
}

.name_style1{
  font-size: 14px;
  font-family: "Montserrat-Bold";color: black;

}
.lats_login{
  font-size: 14px;
  font-family: "Montserrat-Regular";
  justify-content: flex-end;
  align-items: flex-end;

}

.far-end{
  font-size: x-small;
  display: inline-grid;
  margin-bottom: auto;
text-align: center; 
}

.space-reducer{
  max-height: 14px;
}
.pre-button{
  white-space: pre-wrap !important;
}