<mat-sidenav-container class="example-sidenav-container bg-white" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
  
  <mat-sidenav #snav mode="side" opened="true" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list>
      <app-side-navbar></app-side-navbar>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <app-nav-bar class='nav-bar' title="Dashboard"></app-nav-bar>
    </mat-toolbar>
    <!-- <mat-toolbar> -->
      <!-- <app-nav-bar></app-nav-bar> -->
      <!-- <mat-toolbar-row class="bg-blue" style="margin: auto;">
        <button mat-icon-button (click)="snav.toggle()">
          <img class="icons_style" src="../../../assets/img/home.png" alt="sidebar-bg" />
        </button>
        <span style="color:grey;font-size: 2rem;">ID Card Admin</span> <span style="font-size: 2rem;"> / Dashoard</span>
        <span style="flex: 1 1 auto;"></span>

        <div fxShow="true" fxHide.lt-md>
          <button mat-button [matMenuTriggerFor]="notification">
            <mat-icon matBadge="15" style="height:40px" matBadgeColor="warn">notifications_none</mat-icon>
          </button>
          <mat-menu #notification="matMenu">
            <button mat-menu-item>Notification item 1</button>
            <button mat-menu-item>Notification item 2</button>
          </mat-menu>

          <button mat-icon-button [matMenuTriggerFor]="user">
            <mat-icon style="width:50px;height: 50px;"><img class="icons_style" src="../../../assets/img/profile.png" alt="sidebar-bg"  />
            </mat-icon> 
          </button>
          <mat-menu #user="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Logout</button>
          </mat-menu>


           <a href="#" mat-button class="pre-button">
            <span class="name_style1">Ravi    </span>
            <span class="lats_login"> ID Card Admin</span>
          </a> -->
          <!-- <button mat-icon-button>
            <mat-icon>apps</mat-icon>
            <span id="Dashboard">Dashboard</span>
          </button>

        </div>

      </mat-toolbar-row> --> 

    <!-- </mat-toolbar> -->


<div class="main-content">
  <router-outlet></router-outlet>
</div>


  </mat-sidenav-content>
</mat-sidenav-container>