.layout {
  width: 100%;
}

.layout-sidebar {
  height: calc(100vh);
}

.layout-content {
  background-color: red;
  height: calc(100vh);
}

.mat-sidenav {
  width: 253px;
  background: url("../../../assets/img/leftbg.png");
  background-repeat: no-repeat;
  background-color: #3361c7;
}

.mat-sidenav-container {
  background-color: white !important;
  height: 100vh;
}

.mat-nav-list {
  width: 100%;
  height: 100%;

  background-size: cover;
  text-align: center;
}

.mat-sidenav-container .mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.sidenav-toolbar {
  height: 64px;
  background-color: red;
  display: flex;
  flex-direction: row;
}

.mat-nav-list {
  padding: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  text-align: center;
}

.mat-drawer-container,
.mat-drawer {
  padding-top: 0px;
}

.menu-list-item.mat-list-item .mat-list-item-content {
  flex: 1 1 100%;
}

.version-info {
  font-size: 8pt;
  padding: 8px;
  align-self: flex-end;
}

::ng-deep .mat-drawer-container[_ngcontent-wuo-c80],
.mat-drawer[_ngcontent-wuo-c80] {
  padding-top: 0px !important;
}

.menu-spacer {
  flex: 1 1 auto;
}

a {
  padding-top: 0 !important;
}

.text-color-white a {
  color: #ffffff;
}

mat-form-field {
  font-size: 15px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white !important;
}

.mat-input-element::placeholder {
  color: white;
}

.mt-10 {
  margin-top: 10px;
}

.mat-toolbar {
  background: #f7f7f7 !important;
  color: rgba(0, 0, 0, 0.87);
}

.bg-white {
  background-color: #f7f7f7 !important;
}

::ng-deep .title {
  margin-bottom: 0px;
  font-size: 28px;
  margin-top: 20px;
  color: white;
  font-weight: 400;
}

.count {
  margin-bottom: 0px;
  font-size: 15px;
  color: white;
}

.layout {
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 4%;
}

.p20 {
  padding: 20px;
}

.mat-card > :last-child:not(.mat-card-footer),
.mat-card-content > :last-child:not(.mat-card-footer) {
  margin-bottom: 75px;
}

::ng-deep .mat-drawer-container[_ngcontent-wuo-c80],
.mat-drawer[_ngcontent-wuo-c80] {
  padding-top: 0px !important;
}

.name_style1 {
  font-size: 10px;
  font-family: "Montserrat-Bold";
  color: black;
  float: left;
}
.lats_login {
  font-size: 10px;
  font-family: "Montserrat-Regular";
  justify-content: flex-end;
  align-items: flex-end;
}

.far-end {
  font-size: x-small;
  display: inline-grid;
  margin-bottom: auto;
  text-align: center;
}

.space-reducer {
  max-height: 14px;
}
.pre-button {
  white-space: pre-wrap !important;
}
.lh1 {
  line-height: 1;
}
.right-menu {
  margin-top: 10px;
}
.last-login {
  font-size: 10px;
  font-family: "Montserrat-Regular";
  color: black;
  float: left;
}
.name_style2 {
  font-size: 10px;
  font-family: "Montserrat-Bold ";
  color: black;
  float: left;
}

.main-content {
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
}


.secondary-toolbar button {
  display: flex;
  flex-direction: column;
}

#Dashboard{
  display: flex;
}
