<div class="background"></div>
<div class="container firstContainer">
  <div class="container">

    <div class="row bg_styl">

      <div class="col-md-8 col-sm-6 col-md-offset-2 col-sm-offset-3 bwh pl0 bg_styl">

        <div class="col-md-6 imgbg1 bg_styl1" >
          <img  class="logo-img"  src="../../../assets/img/secore.png" alt="score"/>
          <img  class="imgbg"  src="../../../assets/img/login-pg.png" alt="main"/>
        </div>
        <div class="col-md-6">
          <br>
          <span class='login'>Login</span><br><br>
          <span class='welcome'>Hello, Welcome back.</span><br>
          <div class="card-form">
            <div class="form-row1 mt10">
              <mat-form-field  appearance="outline">
                <mat-label >User Email Id</mat-label>
                <input matInput placeholder="Email ID">
              </mat-form-field>
            </div>
            <div class="form-row1">
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password">
              </mat-form-field>
            </div>
            <div class="row mb20">
              <div class='col-md-6 fp'>Forget Password?</div>
              <div class="col-md-6 remember_me fp">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"/>&nbsp;&nbsp;Remember me</div>
            </div>
            <div class="row">
              <div class="col-md-6"><button class='btn-reg'>Register</button></div>
              <div class="col-md-6"><button class='btn-login'routerLink="home/dashboard">Login</button></div>
            </div>
            <br><br><br>
            
          </div>
        </div>
>
      </div>
    </div>
  </div>
</div>
