<mat-toolbar color="primary">
    <span>Printer Template</span>
    <span class="fill-spacer"></span>
  
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon color="warn">cancel</mat-icon>
    </button>
  </mat-toolbar>
  
  <div class="body">
    
      <div fxLayout.xs="column" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" >
    <div fxFlex class="search">
      <h2>Card Number </h2>
      </div>
      <div fxFlex class="search">
        <mat-form-field  appearance="outline" style="color:black" class="w-90">
          <input matInput placeholder="Enter Here" />
      </mat-form-field>
      <!-- <mat-icon>right</mat-icon> -->
        </div>
      </div>
  
  
      <div class="end mt-4">
        <div  class="search">
          <button mat-flat-button  class="bg-black custom-btn">Ok</button>
          </div>
          </div>
  </div>
  
  
  