    table {
    width: 100%;
    }
    
    .mat-elevation-z8 {
    box-shadow: none !important;
    }
    
    .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px 2px 8px;
    }
    
    .bg-grey {
    background-color: #b2bacf;
    }
    
    .bg-white {
    background-color: white;
    }
    
    .search ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white !important;
    background-color: white !important;
    border-radius: 5px;
    }
    
     ::ng-deep .mat-form-field-underline,
    ::ng-deep .mat-form-field-ripple {
    background-color: white !important;
    }
    
    .mat-focused .mat-form-field-label {
    color: white !important;
    }
    
    
    mat-icon {
    margin-right: 0px !important;
    vertical-align: middle;
    }
    
    .bg-black {
    background-color: black;
    color: white;
    }
    
    .bg-black1 {
    height: 40px;
    width: 200px;
    background-color: black;
    color: white;
    }
    
    .text-black {
    color: black;
    font-size: 1.6rem;
    font-weight: 500;
    }
    
    .ml-10 {
    margin-left: 10%;
    }
    
    th.mat-header-cell {
    text-align: center !important;
    font-size: 14px !important;
    font-weight: bold;
    color: black;
    }
    
    
    td.mat-cell {
    text-align: center !important;
    font-size: 12px !important;
    }
    
    .h0 {
    height: 0px;
    }
    

    .custom-field ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    font-size: 12px;
    width: auto;
    text-align: center;
    }
    

    .custom-field ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    display: flex;
    position: absolute;
    padding-top: 0.25em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.25em;
    pointer-events: none;
    }
    
    .small-input {
    padding-bottom: 0.34375em !important;
    }
    

    :host ::ng-deep .custom-field .mat-form-field-wrapper {
    margin: 0 !important;
    padding: 0.34375em !important;
    }
    
    .w-100 {
    width: 100% !important;
    }
    
    .w-90 {
    width: 90%;
    }
    
    .custom-btn {
    padding-left: 2em;
    padding-right:2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-bottom: 1em;
    text-align: center;
    }
  
    ::ng-deep 
    .mat-card[_ngcontent-yad-c184] > [_ngcontent-yad-c184]:last-child:not(.mat-card-footer), .mat-card-content[_ngcontent-yad-c184] > [_ngcontent-yad-c184]:last-child:not(.mat-card-footer) {
      margin-bottom: 0px !important;
  }

  .mr-4{
      margin-right: 4%;
  }

  :host
::ng-deep
.custom-field-height
.mat-form-field-appearance-outline
.mat-form-field-infix {
padding: 0.8em 0 0.8em 0 !important;
}
.bg-green{
    background-color: #cff5d4;
    border:0px;
    border-radius:5px;
    padding: 6px;
    padding-left: 15px;
    padding-right: 15px;
    }
